.card {
 font-family: arial;
 font-size: 36px;
 text-align: center;
 color: black;
 background-color: white;
}

#hint { background: #f2fbe7; border: 1px solid #dff5c4; border-radius: 6px; color: #7a876b; }

#hint.hidden:hover { background: #dff5c4; color: black; cursor: pointer; }
#hint.hidden .payload { display: none; }

#hint.shown { background: white; color: black; }
#hint.shown .trigger { display: none; }
#hint.shown .payload { display: block; }

#typeans {
 font-size: 44px !important;
 text-align: center;
}